env
env/*
dist
dist/*
.vscode
output/
output/*
*.egg-info
publish.py
*.egg-info/*
__pycache__/
__pycache__/*
.pytest_cache/
.pytest_cache/*
heimdall-*.log
eth_heimdall.egg-info
eth_heimdall.egg-info/*